<!--Barra de navegacion-->

<nav class="nav ">
    <ul>
        <li>
            <a href="#slider">home</a>
        </li>
        <li>
            <a href="#contents">features</a>
        </li>
        <li>
            <a href="#team">team</a>
        </li>
        <li>
            <a href="#work">work</a>
        </li>

        <li class="logo ">
            <a href=" "><img src="../../../assets/img/KevinLogo.png" alt=" " class="white "><img src="../../../assets/img/KevinLogo.png" alt=" " class="black "></a>
        </li>
        <li>
            <a href="#testimonials">pricing</a>
        </li>
        <li>
            <a href="#clients">client</a>
        </li>
        <li>
            <a href="#latest">blog</a>
        </li>
        <li>
            <a href="#contact">contact</a>
        </li>
    </ul>
    <a class="nav-icon " (click)="clickBurger()" href="javascript:void(0); "><span></span><span></span><span></span></a>



</nav>