<!--Barra de navegacion que sale desde la burger **fondo amarillo**-->
<div style="height: 500px; "></div>
<div class="full-nav ">
    <div class="logo ">
        <a href=" "><img src="../../../assets/img/KevinLogo.png" alt=" "></a>
    </div>

    <nav class="nav2 ">
        <ul>
            <li>
                <a href=" "><span>01.</span>Home</a>
            </li>
            <li>
                <a href=" "><span>02.</span>Features</a>
            </li>
            <li>
                <a href=" "><span>03.</span>Team</a>
            </li>
            <li>
                <a href=" "><span>04.</span>Work</a>
            </li>
            <li>
                <a href="./pages/pricing.html"><span>05.</span>Pricing</a>
            </li>
            <li>
                <a href=" "><span>06.</span>Client</a>
            </li>
            <li>
                <a href=" "><span>07.</span>Blog</a>
            </li>
            <li>
                <a href="./pages/contact/contact.html"><span>08.</span>Contact</a>
            </li>
        </ul>
    </nav>

    <ul class="social-icons list-inline ">
        <li><a href=" "><i class="fa fa-facebook "></i></a></li>
        <li><a href=" "><i class="fa fa-twitter "></i></a></li>
        <li><a href=" "><i class="fa fa-linkedin "></i></a></li>
        <li><a href=" "><i class="fa fa-google-plus "></i></a></li>
        <li><a href=" "><i class="fa fa-instagram "></i></a></li>
    </ul>

    <div class="corner-circle "><a href="javascript:void(0); " class="nav-close "><span></span><span></span></a>

    </div>

</div>